<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<connectionStrings>
		<add name="DefaultConnection" 
		connectionString="Data Source=10.211.55.17;Initial Catalog=FatRabbit;User ID=rabbit;Password=002751" 
		providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<appSettings>
		<add key="SQL_INSERT" value="INSERT INTO [FatRabbit].[dbo].[PacketRaw]
           ([QQFrom]
           ,[QQTo]
           ,[Text]
           ,[NickFrom]
           ,[NickTo]
           ,[DTime])
     VALUES
           (@QQFrom, nvarchar(16),
           ,@QQTo, nvarchar(16),
           ,@Text, nvarchar(1024),
           ,@NickFrom, nvarchar(16),
           ,@NickTo, nvarchar(16),
           ,@DTime, datetime,)" />

	</appSettings>
	
</configuration>